.button {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: @basic-blue;
  background-color: @basic-yellow;
  border: none;
  padding: 0;
}

.button--circle {
  border-radius: 20px;
}

.button--square {
  border-radius: 10px;

}
.button--white {
  background-color: white;
}
