.cite-navigation__list {
  display: flex;
  flex-direction: column;
    @media (min-width: @desktop) {
    flex-direction: row;
  }
}
.cite-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cite-navigation__item {
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.cite-navigation__link {
  text-decoration: none;
  color: @main-blue;
  @media (min-width: @desktop) {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: @basic-white;
  }

}
.cite-navigation--hidden {
  display: none;
  @media (min-width: @desktop) {
    display: block;
  }
}
.cite-navigation__item--modal {
@media (min-width: @tablet) {
  text-align: left;
}
}
