
// если они останутся разными блоками надо не забыть сделать их отдельно
.field-title {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: @basic-blue-light;
  margin: 0 auto;
  background-color: @basic-background-blue-light;
  z-index: 1;
    @media (min-width: @tablet) {
    margin-top: -10px;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.08em;
    font-weight: 500;

  }
}
.field-title--filter {
  text-align: left;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  background-color: transparent;
  margin-left: 0;
  margin-right: 10px;
  @media (min-width: @tablet) {
    display: none;

  }
  @media (min-width: @desktop) {
    display: block;

  }
}
.field-title--tags {
  padding-left: 18px;
  padding-right: 18px;
    @media (min-width: @desktop) {
    margin-right: auto;
    margin-left: 22px;

  }
}
.field-title--transport {
  padding-left: 14px;
  padding-right: 14px;

}
.field {
  display: flex;
  flex-direction: column;
  @media (min-width: @tablet) {
    flex-direction: column-reverse;
    // margin-top: -10px;

  }
 @media (min-width: @desktop) {
    margin-top: -34px;

  }
}
