.header-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  text-align: left;
}

.header-title--main {
  line-height: 40px;
  text-align: center;
  grid-area: h1;
  margin-top: 60px;
  padding-left: 25px;
  padding-right: 25px;
  @media (min-width: @tablet) {
    margin-top: 72px;
  }
  @media (min-width: @desktop) {
  text-align: left;
  margin-top: 116px;
  }

}
