.page-header {
  color: @basic-white;
  background-color: @main-blue;
}

.page-header__modal {
  padding-right: 25px;
  padding-left: 25px;
  background-color: @basic-white;
  @media (min-width: @tablet) {
    padding-right: 57px;
    padding-left: 57px;
  }
  @media (min-width: @desktop) {
    display: none;

  }
}

.page-header__blockquote {
  margin: 0;
  padding-left: 25px;
  margin-top: 28px;
  padding-right: 23px;
  @media (min-width: @tablet) {
  margin-top: 86px;
}
  @media (min-width: @desktop) {
    margin-top: 128px;
    margin-left: auto;
  }
}

.page-header__cite {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  @media (min-width: @tablet) {
  font-size: 21px;
  line-height: 25px;
}
  @media (min-width: @desktop) {
  font-size: 21px;
  line-height: 24px;
}
}



.page-header__quote {
  margin-bottom: 18px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  @media (min-width: @tablet) {
  font-size: 28px;
  line-height: 33px;
}
@media (min-width: @desktop) {
   line-height: 32px;

}

}
.page-header__wrapper {
  padding-top: 19px;
  display: grid;
  grid-template-areas:
  "logo button"
  "h1 h1"
  "user-nav user-nav"
"quote quote";
@media (min-width: @tablet) {
  padding-top: 40px;
  grid-template-areas:
  "logo button user-nav"
  "h1 h1 h1"
  "quote quote quote";
}
@media (min-width: @desktop) {
  grid-template-areas:
  "logo nav user-nav"
  "h1 h1 quote";

}

}
.page-header__toggle--hidden {
  @media (min-width: @desktop) {
    display: none;

  }
}

.page-header__catalog-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.page-header__catalog-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: @basic-white;
  display: none;
  @media (min-width: @tablet) {
    display: block;
  }
}
.page-header__toggle {
  border: none;
  background-color: transparent;
  margin: 0;
  padding-right: 0;
  padding-top: 4px;
  padding-bottom: 10px;
  padding-left: 10px;
  position: relative;
  grid-area: button;
  margin-left: auto;
  @media (min-width: @tablet) {
    margin: auto;
    padding-right: 10px;

  }
  @media (min-width: @desktop) {
    display: none;
  }
}
.page-header__toggle-element {
  display: block;
  width: 25px;
  height: 3px;
  background-color: @basic-white;
  border-radius: 1.5px;
  box-shadow: 0 5px 0 0 @basic-white;
}
.page-header__toggle-element--opened {
  background-color: transparent;
  box-shadow: none;
}
.page-header__toggle-element--opened::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  left: 3px;
  border-radius: 1.5px;
  background-color: @toggle-grey;
  transform: rotate(45deg);
}
.page-header__toggle-element--opened::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  left: 3px;
  border-radius: 1.5px;
  background-color: @toggle-grey;
  transform: rotate(-45deg);
}
.page-header__toggle-element--scroll {
  background-color: @toggle-grey;
  box-shadow: 0 5px 0 0 @toggle-grey;

}
.page-header__cite-navigation {
  display: none;
  grid-area: nav;
  @media (min-width: @desktop) {
    display: block;
  }
}
.page-header__user-navigation {
  grid-area: user-nav;
  margin-top: 245px;
  @media (min-width: @tablet) {
    margin: 0;
    margin-left: auto;
  }

}
.page-header__logo-image {
  width: 100px;
  height: 15px;
}
.page-header__cite {
  margin-top: 18px;
  @media (min-width: @tablet) {
    margin-top: 45px;
  }

}
