.page-header {
  color: @basic-white;
  background-color: @main-blue;
}

.page-header__modal {
  background-color: @basic-white;
}

.page-header__blockquote {
  margin: 0;
  margin-left: 25px;
}

.page-header__cite {
  display: block;
}

.page-header__default {
  margin-bottom: 29px;
}

.page-header__quote {
  margin-bottom: 18px;
}
