.site-navigation {
  position: relative;
}
.site-navigation__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
    @media (min-width: @desktop) {
    flex-direction: row;
  }
}
.site-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation__item {
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-right: 34px;
  padding-bottom: 10px;
}

.site-navigation__link {
  text-decoration: none;
  color: @main-blue;
  @media (min-width: @desktop) {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: @basic-white;
  }

}
.site-navigation--hidden {
  display: none;
  @media (min-width: @desktop) {
    display: block;
  }
}
.site-navigation__item--modal {
@media (min-width: @tablet) {
  text-align: left;
}
}
@media (min-width: @desktop) {
  .site-navigation::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: @basic-white;
    top: 20px;
    left: -105px;


  }
}
