.social-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  //   @media (min-width: @tablet) {

  // }
}
.social-navigation__list--modal {
  @media (min-width: @tablet) {
    justify-content: flex-start;
  }
}
.social-navigation__link {
  background-color: @basic-yellow;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
    @media (min-width: @tablet) {
     width: 62px;
  height: 62px;
  }

}
.social-navigation__link:hover {
  background-color: @basic-yellow-dark;
}
.social-navigation__icon--blue {
  fill: @main-blue;
}
.social-navigation__link:focus .social-navigation__icon--blue {
  opacity: 30%;

}
.social-navigation__link--white {
  background-color: @basic-white;

}
.social-navigation__link--white:hover {
  background-color: @basic-white;
}
.social-navigation__link--white:hover .location__icon--blue {
  opacity: 60%;
}
.social-navigation__link--white:focus .location__icon--blue {
  opacity: 30%;
}
