.user-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.user-navigation__info {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: @basic-blue;
  text-transform: uppercase;
}
.user-navigation__link {
  text-decoration: none;
}
.user-navigation--info {
  color: @basic-yellow;
}
.user-navigation__list--row {
  display: flex;
}
.user-navigation--hidden {
  display: none;
  @media (min-width: @tablet) {
    display: block;
  }
}
.user-navigation__item--hidden {
  @media (min-width: @tablet) {
    display: none;
  }
    @media (min-width: @desctop) {
    display: block;
  }
}
.user-navigation--shown {
  @media (min-width: @tablet) {
    display: none;
  }

}
.user-navigation__item--modal {
  @media (min-width: @tablet) {
    display: none;
  }
}

.user-navigation__item--info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  @media (min-width: @desctop) {
    flex-direction: row;
  }
}
