.add-country-modal {

}
.add-country-modal__content {
  background-color: @basic-white;
}
.add-country-modal__content--catalog {
  background-color: @like-background-gray;

}

.add-country-modal__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.add-country-modal__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(@main-blue , 30%);
}
.add-country-modal__link--current {
   color: @main-blue;
}
.add-country-modal__roll-up {
  background-color: @button-roll-up;
}
.add-country-modal__flex{
  @media (min-width: @tablet) {
    display: flex;
  flex-wrap: wrap;
    flex-direction: row;

  }
}
