
.filter__title {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: @basic-blue-light;
}
.filter {
  background-color: @basic-yellow;
}
.filter__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
.filter__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.filter__country-link--current {
     color: @main-blue;

}

