.filter__header {
  background-color: @like-background-gray;
}
.filter__toggle {
  border: none;
  background-color: transparent;
}
.filter__title {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: @basic-blue-light;
}
.filter__content {
  background-color: @basic-yellow;
}
.filter__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
.filter__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

