.range__input {
  background-color: transparent;
  font-weight: 500;
font-size: 14px;
line-height: 13px;
letter-spacing: 0.06em;
color: @basic-blue-light;
text-align: center;
border: none;
}
.range__output {
  border: 1px solid @border-blue-light;
  border-radius: 4px;
  background-color: @basic-white;

}
.range__scale {
  background-color: rgba(@basic-blue-light, 20%);
  width: 220px;
  height: 2px;
}
.range__bar {
  background-color: @basic-blue-light;
  width: 138px;
  height: 2px;
}
.range__toggle {
  width: 10px;
  height: 10px;
  background-color:@basic-blue-light;
  border-radius: 50%;
}
