.about-service {
  background-color: @main-blue;
  padding-top: 33px;
  padding-left: 50px;
}

.about-service__title {
  margin-bottom: 33px;
}

.about-service__text {
  color: @basic-white;
  margin-bottom: 20px;
}

.about-service__call {
  color: @basic-white;
}
