.about-service {
  background-color: @main-blue;
  color: @basic-white;
  padding-top: 33px;
}

.about-service__title {
  margin-bottom: 33px;
}

.about-service__text {
  color: @basic-white;
  margin-bottom: 20px;
}

.about-service__call {
  color: @basic-white;
}
.about-service__link {
  display: none;
  @media (min-width: @tablet) {
    display: block;

  }
}
