.add-profile {
  background-color: @background-grey-light;
  padding-top: 37px;
}

.add-profile__rates-list {
  color: @special-grey;
  margin: 0;
  line-height: 16px;
}

.add-profile__rates-price {
  margin: 0;
}

.add-profile__rates-link {
  color: @bright-blue;
  font-weight: 700;
  text-decoration: none;
}
