.directions {
  background-color: @basic-background-blue-light;
  padding-top: 71px;
}

.directions__title {
  margin-bottom: 19px;
}

.directions__text {
  color: @special-grey;
  margin-bottom: 60px;
}

.directions__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.directions__item {
  background-color: @basic-white;
  margin-bottom: 9px;
}

.direction__city {
  color: @basic-black;
}

.direction__call {
  color: rgba(@special-grey, 70%);
  // а зачем менять на fade? вроде же эта тоже работает
}

.direction__number {
  color: rgba(@basic-blue, 70%);
}

.directions__figcaption {
  padding: 24px;
}

.directions__figure {
  margin: 0;
}
