.location {
  background-color: @basic-yellow;
  padding-top: 31px;
}

.location__address {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: @basic-blue-light;
}

.location__button {
  text-transform: unset;
  color: @basic-blue-light;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  border: 3px solid @basic-blue-light;
  border-radius: 10px;
}
