.rates-modal {
  background-color: @basic-white;
  padding-top: 34px;
}

.rates-modal__list {
  color: @special-grey;
  margin: 0;
  line-height: 16px;
}

.rates-modal__rates-price {
  margin: 0;
}

.rates-modal__button {
  color: @bright-blue;
  background-color: @button-gray;
  border: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.rates-modal__list {
  display: grid;
  grid-template-columns: auto;
  @media (min-width: @tablet) {
    grid-template-columns: auto auto;
    justify-content: space-between;

  }
}
