.add-plan {
  background-color: @background-color-add-plans;
  border-radius: 10px;
}
.add-plan__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.add-plan__title {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: @basic-blue-light;
}
.add-plan__item {
  background-color: @basic-white;
  border-radius: 10px;
}
.add-plan__description {
    font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: @special-grey;

}
.add-plan__fields {
  margin: 0;
  padding: 0;
  border: none;
}
// .add-plan__field {

// }
.add-plan__label {
  display: flex;
  justify-content: space-between;
}
.add-plan__rate {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: @basic-blue-light;


}
.add-plan__rate--unit {
letter-spacing: 0.07em;
color: rgba(@basic-blue-light, 30%);
}
.add-plan__input {
  border: 1px solid @border-blue-light;
  border-radius: 4px;
  text-align: center;
  font-size: 14.86px;
  line-height: 14px;
  font-weight: 500;
  color: @basic-blue-light;
  text-transform: uppercase;

}
.add-plan__label {
  color: @basic-blue-light;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
}
.add-plan__field--checkbox {
  display: flex;
}
.add-plan__dot-expanded {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: @basic-blue-light;
  border: none;
  padding: 0;
}
.add-plan__button--step-back {
  background-color: @basic-white;
  display: block;
}
.add-plan__textarea {
  display: block;
  border: 1px solid @border-blue-light;
  resize: none;
  color: @special-grey;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  border-radius: 4px;
}
.add-plan__textarea::placeholder {
  color: rgba(@special-grey, 30%);
}

.add-plan__label-textarea {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: @basic-blue-light;
}
