.add-country {
  display: flex;
  // background-color: @basic-white;


}
.add-country__element {
  border: 1px solid @border-blue-light;
}
.add-country__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: @basic-blue-light;

}
.add-country__open-modal {
  background-color: @basic-white;
  border: none;

}
.add-country__country-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.add-country__country-button {
border: none;
color: @special-grey;
font-size: 16px;
line-height: 22px;
font-weight: 400;
background-color: transparent;
}
.add-country__title-button {
  background-color: @basic-background-blue-light;
  border: none;
  border-radius: 4px;


}
.add-country--hidden-small {
  display: none;
  @media (min-width: @desktop) {
    display: block;
  }
}
.add-country__output-country {
  @media (min-width: @desktop) {
    display: none;
  }
}
