.add-plan {
  background-color: @background-color-add-plans;
  border-radius: 10px;
  margin-top: -20px;
  padding-top: 35px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 65px;
    @media (min-width: @tablet) {
    padding-top: 63px;

  }

}
.add-plan__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.add-plan__title {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: @basic-blue-light;
}
.add-plan__item {
  background-color: @basic-white;
  border-radius: 10px;
  padding-left: 25px;
  padding-top: 29px;
  padding-right: 25px;
  padding-bottom: 23px;
    @media (min-width: @tablet) {
    padding-top: 56px;

  }
    @media (min-width: @desktop) {
    padding-top: 108px;
    padding-left: 159px;
    padding-right: 159px;
    padding-bottom: 108px;
  }

}
.add-plan__description {
    font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: @special-grey;

}
.add-plan__fields {
  margin: 0;
  padding: 0;
  border: none;
  display: grid;
  @media (min-width: @desktop) {
    grid-template-columns: auto auto;

  }

}
.add-plan__field--checkbox {
  @media (min-width: @tablet) {
    grid-row-start: 2;
    grid-row-end: 3;

  }
    @media (min-width: @desktop) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;

  }
}
// .add-plan__field {

// }
.add-plan__label {
  display: flex;
  justify-content: space-between;
}
.add-plan__rate {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: @basic-blue-light;


}
.add-plan__rate--unit {
letter-spacing: 0.07em;
color: rgba(@basic-blue-light, 30%);
}
.add-plan__input {
  border: 1px solid @border-blue-light;
  border-radius: 4px;
  text-align: center;
  font-size: 14.86px;
  line-height: 14px;
  font-weight: 500;
  color: @basic-blue-light;
  text-transform: uppercase;

}
.add-plan__label {
  color: @basic-blue-light;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
}
.add-plan__field--checkbox {
  display: flex;
}

.add-plan__button--step-back {
  background-color: @basic-white;
  display: block;
}
.add-plan__textarea {
  display: block;
  border: 1px solid @border-blue-light;
  resize: none;
  color: @special-grey;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  border-radius: 4px;
}
.add-plan__textarea::placeholder {
  color: rgba(@special-grey, 30%);
}

.add-plan__label-textarea {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: @basic-blue-light;
}
.add-plan__dots-expanded {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  @media (min-width: @desktop) {
    display: block;
  }
}

.add-plan__dot-label {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(@basic-black, 40%);
}
.add-plan__dot-label--current {
  letter-spacing: 0.11em;
  color: @basic-black;
}
.add-plan__dot-label::before {
  position: absolute;
  top: 5px;
  left: -5px;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgba(@basic-blue-light, 30%);
}
.add-plan__dot-label--current::before {
  background-color: @basic-blue-light;


}
.add-plan__header {
  display: flex;
  flex-wrap: wrap;
}
.add-plan__controls {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @media (min-width: @tablet) {
    flex-direction: row;
    justify-content: space-between;

  }

}
.add-plan__button--step-back {
  @media (min-width: @desktop) {
    display: none;
  }
}
