.plans {
  background-color: @special-blue-light;
}
.plans__list {
  margin: 0;
  padding: 0;
  list-style: none;

}
.plans__item {
  background-color: @basic-white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  @media (min-width: @desktop) {
    flex-direction: row;

  }

}
.plans__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: @basic-blue-light;

}
.plans__number {
  font-weight: 500;
}
.plans__description {
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: @basic-blue-light;
  letter-spacing: 0.06em;
}
.plans__description--change {
  letter-spacing: 0.03em;
  color: rgba(@basic-black, 30%);
  text-decoration: none;
}
.plans__flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  @media (min-width: @tablet) {
    flex-direction: row;

  }

}
